<a href="https://colab.research.google.com/github/LuisManuelCatzoliSoriano/Simulacion-I/blob/main/prueba_de_promedios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prueba de los Promedios

Usaremos:
$$H_0:\mu=0.5$$

y

$$H_a: \mu\neq0.5$$

Como prueba para saber si un conjunto de datos proviene de la distribución $U(0,1)$.

Estadístico de prueba:

$$\bar{x}=\frac{u_1+u_2+...+u_n}{N}$$

$$Z_0=\frac{(\bar{x}-0.5)\sqrt{N}}{\sqrt{\frac{1}{12}}}$$

Si $|Z_0|<Z_{\frac{\alpha}{2}}$, entonces no se rechaza la hipótesis, de lo contrario, se rechaza. Con $\alpha$ siendo el nivel de confianza.

In [ ]:
import numpy as np
import scipy.stats as stats
import pandas as pd

Empezamos leyendo el archivo que tenemos en el repositorio de Guthub:

In [ ]:
url = "https://raw.githubusercontent.com/LuisManuelCatzoliSoriano/Simulacion-I/refs/heads/main/data.txt"

response = requests.get(url)
contenido = response.text

lista = ast.literal_eval(contenido)

df = pd.DataFrame([lista])

df.head() #Muestra la lista de números que obtuvimos del archivo .text de Github

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99
0,0.78961,0.0523,0.10699,0.55877,0.14151,0.76086,0.12079,0.27738,0.65726,0.79269,0.80548,0.82654,0.29453,0.20852,0.42989,0.58518,0.98611,0.34488,0.34358,0.11537,0.89898,0.5788,0.67621,0.0501,0.00121,0.28269,0.73059,0.70119,0.18284,0.49962,0.38618,0.7691,0.68334,0.5517,0.1085,0.79982,0.45679,0.21631,0.87616,0.55743,0.58962,0.33216,0.03185,0.61168,0.09264,0.69623,0.17028,0.05475,0.91512,0.76262,0.29931,0.30861,0.83558,0.51781,0.03272,0.5741,0.26693,0.85903,0.48308,0.35286,0.24,0.65559,0.38507,0.90829,0.94187,0.93655,0.88809,0.81772,0.36982,0.19904,0.54325,0.624,0.09133,0.41678,0.33954,0.58244,0.85853,0.88752,0.38729,0.15506,0.23949,0.53559,0.33381,0.49883,0.75103,0.19862,0.65002,0.74579,0.79113,0.63458,0.19147,0.40644,0.08128,0.73485,0.22724,0.22287,0.07281,0.64183,0.44267,0.72102

Primero guardamos los números aleatorios en un arreglo:

Definimos la función que realice la prueba:

In [ ]:
def pdpromedios(data, alpha):
    x = np.mean(data)
    print("El promedio es:", x)
    N=len(data)
    z_0 = (x - 0.5) * np.sqrt(N) / np.sqrt(1/12)
    z_1=abs(z_0)
    print("El valor absoluto de Z0 es:", z_1)
    z = stats.norm.ppf(1 - alpha/2)
    print("El valor de Z es:", z)
    if z_1 < z:
        return print("No se rechaza la hipótesis")
    else:
        return print("Se rechaza la hipótesis")

La función tiene como argumentos $(data, \alpha)$, en nuestro caso usaremos el conjunto de datos dado y $\alpha=0.5$:

In [ ]:
pdpromedios(df, 0.05)

El promedio es: 0.4834193
El valor absoluto de Z0 es: 0.05743722965011459
El valor de Z es: 1.959963984540054
No se rechaza la hipótesis